.header_main {
    color: rgba(255, 255, 255, 0.575);
    font-size: 100px;
    font-weight: 700;
    text-align: center;
    font-family: monospace;
    background-color: rgb(247, 128, 148);
}

#image {
    width: 100px;
    height: 100px;
}