.body{
background-color: #000000;
}


.header_main {
    text-align: left;
    padding-left: 30px; 
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgb(204, 204, 204);
    font-size: 30px;
    font-weight: 300;
    font-family: monospace;
    background-color: rgb(0, 0, 0);

}


.container {
    display: flex;
    flex-direction: column;
     align-items: center;
     margin: auto 0;
     margin-bottom: 300px;
    margin-left: 115px;
}

  
  .image {
   display: inline-block;
    position: relative;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 800px;
    max-height: 370px;
    overflow: hidden;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    
  
  }
  


  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    color: rgba(255, 255, 255, 0.76);
    transform: translate(-50%, -50%);
    padding-top: 55px; 
    font-size: 100px; 
    font-weight: bold; 
    opacity: 0; 
    text-align: center;
  }


  .image:hover{
  opacity: 0.6;

}
.text-overlay:hover {
  opacity: 2;
}

.text{
  color: aliceblue;
  text-align: center;
  margin-bottom: 20px;
text-size: 10px;
font-family: monospace;
border: orange;
border-width: 2px;
}




